<%- include('../partials/header') %>
    <h3>Update as of <%= time %>
    </h3>

    <ul>

        <% books.forEach(function(b) { %>
            <li>
                <a href="/books/<%= b.id %>">
                    <%= b.book %>
                </a>

                -
                <%= b.read ? 'read' : 'not read yet' %>
            </li>
            <% }); %>
    </ul>
    <a href="/books/new">Add a new book</a>

    <%- include('../partials/footer') %>