<%- include('../partials/header') %>
    <ul>
        <% books.forEach(function(b) { %>
            <li>
                <a href="/books/<%= b.id %>">
                    <%= b.book %>
                </a>

                -
                <%= b.read ? 'read' : 'not read yet' %>
            </li>
            <% }); %>
    </ul>

    <%- include('../partials/footer') %>